{% extends 'base.html.twig' %}

{% block body %}

<h1>Unités</h1>

<h2>Ajouter une unité</h2>

<form method="post" action="{{ path('unitee_add') }}">
    <input type="text" name="nom" placeholder="Ex: g, kg, ml..." required>
    <button>Ajouter</button>
</form>

<hr>

<h2>Liste</h2>

<ul>
    {% for unitee in unitees %}
        <li>
            {{ unitee.nom }}

            <form method="post" action="{{ path('unitee_delete', {id: unitee.id}) }}" style="display:inline;">
                <button onclick="return confirm('Supprimer ?')">❌</button>
            </form>
        </li>
    {% else %}
        <li>Aucune unité</li>
    {% endfor %}
</ul>

{% endblock %}